<!-- @Element: Search form -->
<div class="mb-4">
  {% assign publicity-1 = site.data.header.publicity-1 %}
  {% for publicity in publicity-1 %}
  <img class="img-fluid" src="{{publicity.image}}" data-url="{{ publicity.url }}" alt="">
  {% endfor %}
  </div>
  <!-- Follow us-->
  <h5 class="text-uppercase mt-4 mb-0 font-weight-bold">
    Follow Us
  </h5>
  <hr class="mt-2 mb-3" />
  <!--@todo: replace with company social media details-->
  <div class="nav">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_inline_follow_toolbox"></div>
  </div>
  <!-- Popular news widget -->
  <hr class="mt-2 mb-3" />
  <!-- publicity -->

  <!-- publicity -->
  <div class="mb-4">
    <ul class="list-unstyled list-lg tags">
      {% assign publicity-sidebar = site.data.header.sideBar-publicity %}
      {% for publicity in publicity-sidebar %}
    <img class="img-fluid" src="{{publicity.image}}" data-url="{{ publicity.url }}" alt="">
    <hr class="mt-2 mb-3" />
    {% endfor %}
    </ul>
  </div>
  <div class="mb-4" id="news">
    <!-- <div class="row row-hover py-1 py-lg-3 align-items-center clickable-element" data-url="/aprendamos-a-aprender-tic.html">
      <div class="col-3">
        <img class="img-fluid b-loaded" data-toggle="blazy" alt="Autem Cogo Esca Humo Loquor Nimis Occuro Refoveo Sed" src="https://raw.githubusercontent.com/itnewslat/assets/master/img/540x320/Aprendiendo-tic-p.jpg">
      </div>
      <div class="col-9 pl-0">
        <h6 class="mb-1">
          Aprendamos a aprender TIC
        </h6>
        <p class="text-uppercase text-xs mb-0"> <i class="fa fa-clock-o"></i>07 May 2019</p>
      </div>
    </div> -->
  </div>
