<div class="col-md-9">
  <div class="blog-roll blog-grid" data-toggle="isotope-grid" data-isotope-options='{"itemSelector": ".grid-item"}'>
    <div class="row">
      {% assign filter = page.filter %}
      {% for item in site.posts %}
       {% if item.tags contains filter %}
        <div class="col-sm-6 col-md-4 grid-item">
          <div class="blog-post">
            <div class="blog-media">
              <a href="{{ item.url }}
                ">
                <img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid" />
              </a>
            </div>
            <div class="mt-4">
              <div class="date-wrapper date-wrapper-horizontal">
              <span class="date-m bg-primary">{{ item.date | date: "%b" }}</span>
              <span class="date-d">{{ item.date | date: "%-d" }}</span><span class="date-d">{{ item.date | date: "%-Y" }}</span> </div>
              <h4 class="timeline-item-title">
                <a href="{{ item.url }}">{{ item.title }}</a>
              </h4>
              <a href="{{ item.url }}" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Ver más</a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
