<!-- @Element: Search form -->
<div class="mb-4">
  {% assign publicity-1 = site.data.header.publicity-1 %}
  {% for publicity in publicity-1 %}
  <img class="img-fluid" src="{{publicity.image}}" data-url="{{ publicity.url }}" alt="">
  {% endfor %}
  </div>
  <!-- Follow us-->
  <h5 class="text-uppercase mt-4 mb-0 font-weight-bold">
    Follow Us
  </h5>
  <hr class="mt-2 mb-3" />
  <!--@todo: replace with company social media details-->
  <div class="nav">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_inline_follow_toolbox"></div>
  </div>
  <!-- Popular news widget -->
  <hr class="mt-2 mb-3" />
  <!-- publicity -->

  <!-- publicity -->
  <div class="mb-4">
    <ul class="list-unstyled list-lg tags">
      {% assign publicity-sidebar = site.data.header.sideBar-publicity %}
      {% for publicity in publicity-sidebar %}
    <img class="img-fluid" src="{{publicity.image}}" data-url="{{ publicity.url }}" alt="">
    <hr class="mt-2 mb-3" />
    {% endfor %}
    </ul>
    {% case page.filter %}
      {% when 'Movilidad' %}
        <!-- movilidad -->
        <iframe width="100%" height="750" frameborder="0" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.comunicae.com.mx%2FfeedDestino.php%3FsId%3Ditnews%26cat%3D148&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&nofollow=1&xmlbtn=1&linktarget=_blank&textsize=inherit&fullhtml=1&bordercol=%23d4d0c8&headbgcol=%239c2a2e&headtxtcol=%23ffffff&titlebgcol=transparent&titletxtcol=%239c2a2e&itembgcol=transparent&itemtxtcol=%23000000&ctl=0"></iframe>
      {% when 'Economía Digital' || 'Transformación Digital' %}
        <!-- Economia digital / transformacion digital -->
        <iframe width="100%" height="750" frameborder="0" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.comunicae.com.mx%2FfeedDestino.php%3FsId%3Ditnews%26cat%3D124&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&nofollow=1&xmlbtn=1&linktarget=_blank&textsize=inherit&fullhtml=1&bordercol=%23d4d0c8&headbgcol=%239c2a2e&headtxtcol=%23ffffff&titlebgcol=transparent&titletxtcol=%239c2a2e&itembgcol=transparent&itemtxtcol=%23000000&ctl=0"></iframe>
      {% when 'Seguridad' %}
        <!-- seguridad -->
        <iframe width="100%" height="750" frameborder="0" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.comunicae.com.mx%2FfeedDestino.php%3FsId%3Ditnews%26cats%3D132&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&nofollow=1&xmlbtn=1&linktarget=_blank&textsize=inherit&fullhtml=1&bordercol=%23d4d0c8&headbgcol=%239c2a2e&headtxtcol=%23ffffff&titlebgcol=transparent&titletxtcol=%239c2a2e&itembgcol=transparent&itemtxtcol=%23000000&ctl=0"></iframe>
      {% when 'Actualidad' %}
        <!-- Actualidad -->
        <iframe width="100%" height="750" frameborder="0" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.comunicae.com.mx%2FfeedDestino.php%3FsId%3Ditnews%26cat%3D75&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&nofollow=1&xmlbtn=1&linktarget=_blank&textsize=inherit&fullhtml=1&bordercol=%23d4d0c8&headbgcol=%239c2a2e&headtxtcol=%23ffffff&titlebgcol=transparent&titletxtcol=%239c2a2e&itembgcol=transparent&itemtxtcol=%23000000&ctl=0"></iframe>
      {% endcase %}
  </div>
