<div class="mb-4 mb-lg-6 py-7 text-center overlay-op-8" data-url="" data-bg-img="/assets/imagenes/podcast2.jpg" style="background-size:contain; background-repeat:no-repeat; background-position: center">
    <div class="container">
      <h2 class="text-uppercase text-letter-spacing-sm my-0 text-white font-weight-bold">
       Podcasts
      </h2>
      <a href="/podcasts.html" target="_blank" class="btn btn-primary btn-sm mt-3 text-uppercase font-weight-bold">Ir a Podcasts</a>
    </div>
  </div>