---
layout: index
color-schema: red-dark
---

  {% include venezuela/header.html %}

<div id="about" class="">
        <div class="container py-6 animated animated-done" data-animate="fadeIn">
          <h2 class="display-4 font-weight-bold mb-3 text-letter-spacing-xs">
            About
          </h2>
          <div class="row">
            <div class="col-lg-4 order-lg-2">
              <img src="assets/img/homes/cv-portfolio.jpg" alt="Me" class="img-fluid rounded-circle op-7 border-white border-w-5 w-30 w-lg-80 mt-lg-4-neg d-none d-lg-block">
            </div>
            <div class="col-lg-8">
              <p class="lead">Cui nulla pecus quidem usitas. Augue camur facilisi pagus pecus roto tamen vulpes.</p>
              <p>Aliquam brevitas eu iaceo molior pneum refero vel volutpat ymo. At eligo sagaciter. Abluo iusto nutus paratus rusticus si.</p>
              <p class="mb-0">Conventio et ex hendrerit quae quidem utinam. Abluo aliquam blandit esse hos in ludus refero similis utrum. Importunus sino veniam. Adipiscing duis importunus jus metuo pneum sino. Abico augue eu oppeto ratis rusticus si torqueo volutpat.</p>
              <p>Aliquip aptent esse immitto imputo quia ut. Dignissim exerci iaceo inhibeo premo ullamcorper vereor. Abbas ad antehabeo gilvus neque nobis premo.</p>
            </div>
          </div>
          <hr class="op-3 mt-6 mb-0">
        </div>
      </div>
{% include venezuela/footer.html %}
