<!DOCTYPE html>
<html lang="en">
  {% include posts/head.html %}
  <body>
    <a href="#content" id="top" class="sr-only">Skip to content</a>
      {% include posts/header.html %}
    <!-- ======== @Region: #content ======== -->
    <div id="content">
              <div>
                  <iframe src="https://podcasters.spotify.com/pod/show/somos-itnews-lat" style="height: 150vh; width:100%"></iframe>
              </div>
          <!--Sidebar-->
          <div class="col-md-3 sidebar-right">
            {% include posts/sidebar.html %}
          </div>
    </div>
    {% include posts/footer.html %}
    {% include posts/js.html %}
  </body>
</html>
