---
layout: index
color-schema: red-dark
title: PODCASTS
---

  {% include venezuela/header.html %}
    <div id="content" class="p-0 bg-white">
      <div class="container py-4 py-lg-5">
        <h3 class="text-uppercase text-letter-spacing-sm my-0 text-primary font-weight-bold">
            {{ page.title }}
        </h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
              <div id="" class="blog-roll blog-grid">
                  <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/show/4BYmEaaQCN5842H4jCb3MM?utm_source=generator&t=0" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/episode/3kSM0yHyjr9v2prhr2DAz6?utm_source=generator" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
          <div class="col-lg-3 mb-4 mb-lg-2">
            {% include venezuela/side-bar.html %}
          </div>
        </div>
      </div>
    </div>
{% include posts/footer.html %}
