<div class="bg-light text-center p-3 p-lg-4 mb-3" style="background-image: url(https://dummyimage.com/1600x1000/000/fff)">
  <h3 class="text-uppercase font-weight-bold mt-0 mb-2">Call To Action Blocks</h3>
  <h5 class="text-faded">Grab attention and drive clicks so get using them now!!</h5>
  <hr class="my-3 w-50 mx-auto" />
  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-lg btn-outline-primary">Get AppStrap <i class="fa fa-angle-right ml-2"></i></a>
</div>
