---
layout: index
color-schema: yellow
filterCategory: Colombia
---

{% include colombia/header.html %}
{% include colombia/banner.html %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 bg-white">
    {% include colombia/lasted-news.html %}
    {% include globals/super-article.html %}
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
        {% include colombia/news-tags.html %}
        </div>
        <div class="col-lg-3 mb-4 mb-lg-2">
          {% include colombia/side-bar.html %}
        </div>
      </div>
    </div>
    {% include globals/comunicae.html %}
    {% include globals/moreNews.html %}
    {% include colombia/news-galery.html %}
    {% include colombia/footer.html %}
  </div>
