<!-- ======== @Region: body ======== -->
<body class="page page-index-coming-soon-newsletter navbar-layout-default">

  <!-- @plugin: page loading indicator, delete to remove loader -->
  <div class="page-loader" data-toggle="page-loader"></div>

  <a id="#top" href="#content" class="sr-only">Skip to content</a>

  <!-- ======== @Region: #highlighted ======== -->
  <div id="highlighted">
    <div class="bg-white overlay overlay-inverse overlay-op-7 text-center px-3 py-5 py-lg-10 flex-valign" data-bg-img="assets/img/backgrounds/construction.jpg" data-css='{"background-position": "right bottom"}' data-toggle="full-height">
      <h2 class="text-white display-4 font-weight-bold" data-animate="fadeIn" data-animate-delay="0.2">
        ITNEWSLAT
      </h2>
      <h4 class="text-grey font-weight-normal mb-4" data-animate="fadeIn" data-animate-delay="0.35">
        Sitio en construcción!
      </h4>
      <form class="row no-gutters mb-3 w-100 w-lg-50 mx-lg-auto pos-relative" data-animate="fadeIn" data-animate-delay="0.55">
        <div class="col-lg-9 mb-3">
          <i class="fa fa-envelope text-white icon-2x pos-absolute pos-l mt-2 d-none d-lg-block"></i>
        </span>
        <input class="form-control form-control-lg form-control-transparent form-control-dark text-center text-lg-left pl-lg-5" type="text" placeholder="Quiero saber más de ITNEWSLAT">
        <hr class="hr-light op-3 hr-lg mx-auto mt-1 mb-0 w-80 w-lg-100" />
      </div>
      <div class="col-lg-3">
        <a href="#" class="btn btn-dark btn-rounded btn-lg px-4 py-3 d-lg-block">Enviar</a> </div>
    </form>
  </div>
</div>

</body>
