<!-- @Element: Search form -->
<div class="mb-4">
  <form role="form">
    <div class="input-group">
      <label class="sr-only" for="search-field">Search</label>
      <input type="search" class="form-control" id="search-field" placeholder="Search">
      <span class="input-group-append">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
  </form>
</div>

<!-- @Element: badge cloud -->
<div class="mb-4">
  <h4 class="title-divider">
    <span>Tags</span>
  </h4>
  <div class="tag-cloud">
    <span class="badge"><a href="#">culture</a> (55)</span>
    <span class="badge"><a href="#">general</a> (23)</span>
    <span class="badge"><a href="#">coding</a> (14)</span>
    <span class="badge"><a href="#">design</a> (91)</span>
    <span class="badge"><a href="#">weather</a> (0)</span>
    <span class="badge"><a href="#">jobs</a> (7)</span>
    <span class="badge"><a href="#">health</a> (32)</span>
  </div>
</div>

<!-- @Element: Subscrive button -->
<div class="mb-4">
  <a href="#" class="btn btn-warning text-white"><i class="fa fa-rss"></i> Subscribe via RSS feed</a>
</div>

<!-- Follow Widget -->
<div class="mb-4">
  <h4 class="title-divider">
    <span>Follow Us On</span>
  </h4>
  <!--@todo: replace with real social media links -->
  <ul class="list-unstyled">
    <li>
      <a href="#" class="text-hover-brand-twitter d-flex align-items-center py-1 text-hover-no-underline"><i class="fab fa-twitter-square fa-fw icon-2x"></i> Twitter</a>
    </li>
    <li>
      <a href="#" class="text-hover-brand-facebook d-flex align-items-center py-1 text-hover-no-underline"><i class="fab fa-facebook-square fa-fw icon-2x"></i> Facebook</a>
    </li>
    <li>
      <a href="#" class="text-hover-brand-linkedin d-flex align-items-center py-1 text-hover-no-underline"><i class="fab fa-linkedin fa-fw icon-2x"></i> LinkedIn</a>
    </li>
    <li>
      <a href="#" class="text-hover-brand-google-plus d-flex align-items-center py-1 text-hover-no-underline"><i class="fab fa-google-plus-square fa-fw icon-2x"></i> Google+</a>
    </li>
  </ul>
</div>
