---
layout: index
color-schema: blue
filterCategory: Argentina
---

  {% include argentina/header.html %}
  {% include argentina/banner.html %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 bg-white">
    {% include argentina/lasted-news.html %}
    {% include argentina/super-article.html %}
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
        {% include argentina/news-tags.html %}
        {% include argentina/news-galery.html %}
        </div>
        <div class="col-lg-3 mb-4 mb-lg-2">
          {% include argentina/side-bar.html %}
        </div>
      </div>
    </div>
    {% include argentina/footer.html %}
  </div>
