---
layout: index
color-schema: blue-dark
filterCategory: Ecuador
---

{% include ecuador/header.html %}
{% include ecuador/banner.html %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 bg-white">
    {% include ecuador/lasted-news.html %}
    {% include globals/super-article.html %}
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
        {% include ecuador/news-tags.html %}
        </div>
        <div class="col-lg-3 mb-4 mb-lg-2">
          {% include ecuador/side-bar.html %}
        </div>
      </div>
    </div>
    {% include globals/moreNews.html %}
    {% include ecuador/news-galery.html %}
    {% include peru/footer.html %}
  </div>
