---
layout: index
color-schema: green-bright
filterCategory: Panama
---

{% include panama/header.html %}
{% include panama/banner.html %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 bg-white">
    {% include panama/lasted-news.html %}
    {% include panama/super-article.html %}
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
        {% include panama/news-tags.html %}
        {% include panama/news-galery.html %}
        </div>
        <div class="col-lg-3 mb-4 mb-lg-2">
          {% include panama/side-bar.html %}
        </div>
      </div>
    </div>
    {% include panama/footer.html %}
  </div>
