<!-- ======== @Region: body ======== -->
<body class="page page-index-coming-soon-newsletter navbar-layout-default">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZF3JX3V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- @plugin: page loading indicator, delete to remove loader -->
  <div class="page-loader" data-toggle="page-loader"></div>
  {%  for element in site.data.index.content %}
    <div class="text-center px-3 " data-bg-img="{{ element.background }}" data-css='{}' data-toggle="full-height">

      <div class="text-white">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 overlay overlay-gradient overlay-op-6 bg-img blazy-bg animated animated-done b-loaded" data-animate="fadeIn" data-animate-delay="0.2" style="animation-delay: 0.2s; background-image: url({{element.img-map}})"></div>
          <div class="col-lg-4 py-6 animated animated-done" data-animate="fadeIn" data-animate-delay="0.4" style="animation-delay: 0.4s;">
            <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-3">
              <img class="img-fluid"  src="{{ site.logo_red | prepend:site.image_url }}" alt="">
            </h2>
            <div class="float-md-right ml-md-auto">
              {% for item in element.rrss %}
                <a href="{{ item.href }}" target="_blank" class="btn btn-sm btn-icon btn-dark btn-rounded"><i class="fab {{ item.icon }}"></i></a>
              {% endfor %}
            </div>
            <hr class="my-4 hr-white op-1">
            <div class="row" style="color: #31383d;">
              {{ element.description }}<br><br>
              {% for option in site.data.header.headers %}
              <div class="col-md-12">
                <a href="{{ option.href }}" style="color: #31383d;"><h3>{{option.element}}</h3>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</body>
