<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ site.title }}</title>
	</head>
	<body style="margin: 0; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>
					<!-- Header Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td style="padding:15px 0 0 0;">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse: collapse;">
												<!-- logo -->
												<tr>
													<td align="center">
														<a href="/">
															<img src="{{site.logo_red | prepend: site.image_url}}" alt="Company Logo" style="display: block;height:64px"/>
														</a>
													</td>
												</tr>
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Header End -->

					<!-- Banner Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#fafafa" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td align="center" bgcolor="#ffffff" >
														<a href="#">
															<img src="{{ page.banner}}" width="580" alt="Section one image" style="display: block;"/>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Banner End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#fafafa" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
												<tr>
													<td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#000000;">
														Boletin <strong>Semanal</strong>
													</td>
													<center>
													<a href="https://Absidecorp.com/"><img src="https://raw.githubusercontent.com/itnewslat/assets/refs/heads/master/img/728x90/728x90.png" alt="Company Logo" style="display: block;height:4vw"/></a>
													</center>
												</tr>
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<!-- First Row -->
                      {% for item in site.posts %}
                        {% if page.year == item.year %}
                          {% if page.week == item.week  %}
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;margin-bottom: 10px">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" width="290" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="{{ item.url }}">
																		<img src="{{ item.image }}" width="290" alt="{{ item.title }}" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="260" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="{{ item.url }}">{{ item.title }}</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">

																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#992020">
																				<a href="{{ item.url }}" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Ver más</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Section End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table align="center" bgcolor="#373737" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
											</table>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="3">&nbsp;</td></tr>
															<tr>
																<td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#ffffff">
																	<div class="centered-text"> <p style="color: white; font-size: 12px; align="left"">Cortesia de:</p> </div>
																	<center>
																	<a href="https://Absidecorp.com/"><img src="https://raw.githubusercontent.com/itnewslat/assets/refs/heads/master/img/728x90/728x90.png" alt="Company Logo" style="display: block;height:4vw"/></a>
																	</center>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Section End -->
					<!-- Subfooter Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#f5f5f5" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- Space -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#eaeaea" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
												<tr>
													<td align="center" style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
														Copyright © 2018 itnews.lat <a href="http://itnews.lat/" style="color: #992020; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;"></a>. All Rights Reserved
													</td>
                        </table>
												</tr>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Subfooter End -->
				</td>
			</tr>
		</table>
	</body>
</html>
