---
layout: venezuela
color-schema: red-dark
filterCategory: Venezuela
---

  {% include venezuela/header.html %}
  {% include venezuela/banner.html %}
    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      {% include venezuela/lasted-news.html %}
      {% include venezuela/super-article.html %}
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
          {% include venezuela/news-tags.html %}
          {% include venezuela/news-galery.html %}
          </div>
          <div class="col-lg-3 mb-4 mb-lg-2">
            {% include venezuela/side-bar.html %}
          </div>
        </div>
      </div>
      <!-- Gallery -->

      <!-- Fixed footer with Breaking news bar -->
      <div class="w-100 pos-lg-fixed pos-zindex-20 pos-b pos-r bg-dark text-white" data-animate="fadeInUp">
        <div class="container">
          <div class="row align-items-center no-gutters">
            <div class="col-12 col-lg-8">
              <!--news ticker-->
              <div class="row align-items-stretch align-items-lg-center">
                <div class="col-3 col-lg-auto my-0 py-1 py-lg-3 bg-primary text-center">
                  <h5 class="text-uppercase text-sm font-weight-bold my-0">
                    Breaking
                  </h5>
                </div>
                <div class="col-9 owl-carousel owl-equalheight" data-toggle="owl-carousel" data-owl-carousel-settings='{"items":1, "center":true, "autoplay":true, "loop":true, "nav":false, "dots":false, "margin":5}'>

                  <!--News item 1-->
                  <p class="my-0 text-sm font-weight-normal">At Decet Dolor Pecus Quidne Sagaciter Vel</p>

                  <!--News item 2-->
                  <p class="my-0 text-sm font-weight-normal">Ille Os Similis Voco</p>

                  <!--News item 3-->
                  <p class="my-0 text-sm font-weight-normal">Aptent Nostrud Nulla Quadrum Quae Vero</p>

                  <!--News item 4-->
                  <p class="my-0 text-sm font-weight-normal">Bene Interdico Olim Tum Ullamcorper</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2 py-1 py-lg-0">
              <!--Copyright social media icons-->
              <div class="d-flex justify-content-center justify-content-lg-end align-items-center">
                <p class="my-0 ml-3 text-xs order-2">Copyright 2017</p>
                <!--@todo: replace with company social media details-->
                <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-twitter"></i> <span class="sr-only">Twitter</span>
</a>
                <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-facebook"></i> <span class="sr-only">Facebook</span>
</a>
                <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-linkedin"></i> <span class="sr-only">Linkedin</span>
</a>
                <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-google-plus"></i> <span class="sr-only">Google plus</span>
</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    <!--Hidden elements - excluded from jPanel Menu on mobile-->
    <div class="hidden-elements jpanel-menu-exclude"></div>


    <!--jQuery 3.2.1 via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper 1.12.9 via CDN, needed for Bootstrap Tooltips & Popovers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap v4.0.0 JS via CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 To disable this and load plugin assets manually simple add data-plugins-manual=true to the body tag -->

    <!--Custom scripts & AppStrap API integration -->
    <script src="/assets/js/custom-script.js"></script>
    <!--AppStrap scripts mainly used to trigger libraries/plugins -->
    <script src="/assets/js/script.min.js"></script>
  </body>
